.list-container {
  margin: 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-body {
  display: flex;
  flex-wrap: wrap;
}

.add-btn {
  padding: 5px;
  align-self: center;
}
